#emoji #search-entry {
  background-color: rgba(0,0,0,0.25);
  color: #fef8e1;
  border-radius: 12px;
  padding: 10px;
  font-weight: bold;
}

#emoji #close-button {
  background-color: rgba(72,54,54,0.85);
  border-radius: 12px;
  padding: 8px;
}

#emoji #close-button:hover {
  background-color: rgba(183,57,54,0.35);
}

#emoji #emoji-slot-button {
  border-radius: 16px;
  padding: 12px;
}

#emoji #emoji-slot-button:hover {
  background-color: rgba(87,167,177,0.15);
}

#emoji #emoji-char-label {
  font-size: 24px;
}

#emoji #emoji-name-label {
  color: #fef8e1;
  font-weight: bold;
}